<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="app">
    <section class="sidebar">
      <a href="" class="sidebar__logo">NLP</a>
      <hr />
      <p>Natural Language Processing (NLP) is a subset of AI that provides computers ability to process or interact with natural human speech.</p>
      <p>Provide URL of an article or blog post to analyze text and detect their polarity, subjectivity, irony and emotional agreement using MeaningCloud's Sentiment Analysis API.</p>
      <div class="sidebar__footer">
        <p>&copy; 2022 Patrick Ojeh.</p>
      </div>
    </section>
    <section class="main">
      <div class="main__container">
        <p class="main__description">Provide URL of an article or blog post to analyze text and detect their polarity, subjectivity, irony and emotional agreement using MeaningCloud's Sentiment Analysis API.</p>
        <form onsubmit="return Client.handleSubmit(event)">
          <input id="url" type="text" placeholder="Enter url" autofocus />
          <button type="button" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Analyze</button>
        </form>
        <div class="result"></div>
      </div>
    </section>
  </main>
</body>
</html>