$orange: #f3631f;
$white: #fff;

body,
html {
  color: #48403c;
  font-family: graphik;
  font-size: 14px;
  line-height: 1.55;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
hr {
  border: none;
  border-top: 1px solid rgba(#48403c, 0.1);
  margin-bottom: 32px;
  margin-top: 24px;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  transition: 0.25s ease-in all;
}
form {
  text-align: center;
}
input {
  background: #f1e5e1;
  border: 2px solid transparent;
  color: #48403c;
  height: 56px;
  border-radius: 50px;
  margin-bottom: 32px;
  padding: 0 32px;
  transition: 0.2s ease-in all;
  width: -webkit-fill-available;
  &:focus {
    background: $white;
    outline: none;
  }
  &::placeholder {
    color: rgba(#48403c, 0.25);
  }
}
button {
  background: linear-gradient(to right, $orange, #ff8800);
  border: none;
  color: $white;
  cursor: pointer;
  padding: 14px 28px 16px;
  border-radius: 50px;
  &:focus {
    outline: none;
  }
}

@media screen and (min-width: 992px) {
  main {
    grid-template-columns: 0.25fr 0.75fr;
  }
  input {
    font-size: 15px;
    margin-bottom: 24px;
  }
}
ul {
  list-style-type: none;
  background: $white;
  padding: 22px 32px 25px;
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(125, 100, 90, 0.12);
}
li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
