@font-face {
  font-family: "graphik";
  font-weight: normal;
  src: url("../fonts/GraphikRegular.otf");
}
@font-face {
  font-family: "graphik";
  font-weight: 600;
  src: url("../fonts/GraphikSemibold.otf");
}
@font-face {
  font-family: "vampiro";
  font-weight: 500;
  src: url("../fonts/VampiroOne-Regular.ttf");
}
