.main {
  background: #f9efeb;
  display: flex;
  order: 1;
  padding: 32px;
  &__container {
    align-self: center;
    margin: 0 auto;
    max-width: 600px;
  }
  &__description {
    font-size: 14px;
    margin-bottom: 32px;
    text-align: center;
  }
  &__result {
    margin-top: 60px;
    p {
      margin-bottom: 4px;
    }
  }
}

@media screen and (min-width: 992px) {
  .main {
    order: 2;
    padding: 64px;
    &__description {
      font-size: 15px;
    }
  }
}
