$black: #000;

.main {
  background: #f9efeb;
  display: flex;
  order: 1;
  padding: 32px;
  &__container {
    align-self: center;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    color: $black;
    text-align: center;
  }
  &__result {
    display: none;
    margin-top: 60px;
    p {
      margin-bottom: 4px;
    }
    &.active {
      display: block;
    }
  }
}

@media screen and (min-width: 992px) {
  .main {
    order: 2;
    padding: 64px;
    &__title {
      font-size: 40px;
    }
  }
}
